{% extends "lang/fr/base.html" %}

{% block content %}  
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Énergie &amp; Pouvoir</h2>
  <p>Il existe deux types de ressources dans Riftbound : <strong>Énergie</strong> et <strong>Pouvoir</strong></p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item"><strong>L’Énergie</strong> est représentée par des valeurs numériques et n’a pas de couleur spécifique : <img class="might-icon" src="/static/images/1energy.webp" data-light="/static/images/1energy.webp" data-dark="/static/images/1energy_darkmode.webp" alt="1 Énergie" style="height:1em; vertical-align:middle;"></li>
    <li class="list-group-item"><strong>Le Pouvoir</strong> est représenté par les symboles de Domaine et est spécifique à une couleur : <img src="/static/images/furypower.webp" alt="Pouvoir de Fureur" style="height:1em; vertical-align:middle;"></li>
  </ul>

  <p>Le moyen le plus simple et le plus courant de générer ces ressources est d’utiliser vos <strong>Runes</strong>. Vous <img class="might-icon" src="/static/images/exhaust.webp" data-light="/static/images/exhaust.webp" data-dark="/static/images/exhaust_darkmode.webp" alt="Exhaust" style="height:1em; vertical-align:middle;"> une <strong>Rune</strong> pour générer de l’<strong>Énergie</strong>, et vous <strong>Recyclez</strong> une <strong>Rune</strong> pour générer du <strong>Pouvoir</strong>.</p>

  <p>Les deux ressources peuvent également être générées par d’autres capacités et effets, comme l’épuisement d’un Sceau pour obtenir du <strong>Pouvoir</strong>.</p>

  <p>Chaque fois que vous générez l’une ou l’autre de ces ressources, elle est ajoutée à une réserve virtuelle que vous pouvez utiliser pour payer les Coûts du type approprié. Cette réserve n’est vidée qu’à la fin du tour, après la phase de pioche.</p>

  <p>Notez que certaines cartes et effets peuvent coûter à la fois de l’<strong>Énergie</strong> et du <strong>Pouvoir</strong>.</p>

  <h3 class="mt-4 mb-2">Règles CRD pertinentes :</h3>
  <p><em>130. Coût<br>153. Runes<br>157.2. Capacités des Runes<br>158. Réserves de Rune<br>605. Ajouter</em></p>
</div>

{% endblock %}
