{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Might &amp; Damage</h2>
  <p><strong>Might</strong> is the Combat statistic of a Unit <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"></p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">When a <strong>Unit</strong> is marked damage equal or exceeding its <strong>Might</strong>, it is Killed.</li>
    <li class="list-group-item">A <strong>Unit</strong> can’t have less than zero <strong>Might</strong>. A zero-<strong>Might</strong> Unit still needs to be marked one damage to be killed.</li>
    <li class="list-group-item">Damage <strong>DOES NOT</strong> reduce a Unit's <strong>Might</strong>. <strong>Units</strong> always deal damage with their <strong>Might</strong>.</li>
  </ul>

  <p><strong>Units</strong> can have damage marked on them temporarily:</p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Damage is cleared from <strong>ALL Units</strong> at the end of each player’s turn and at the end of each <strong>Combat</strong>.</li>
    <li class="list-group-item">Damage can be tracked by memory or any agreed-upon method.</li>
    <li class="list-group-item">Reducing the <strong>Might</strong> of a <strong>Unit</strong> may kill it if the damage marked on it becomes equal to or greater than its new <strong>Might</strong>.</li>
  </ul>

  <h3 class="mt-4 mb-2">Relevant CRD Rules</h3>
  <p><em>139.2 Might<br>139.3 Damage</em></p>

  <h3 class="mt-4 mb-2">Example:</h3>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Combat showdown between player A with a 6 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> Unit and player B with a 4 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> Unit.</li>
    <li class="list-group-item">Player B plays a spell that deals 3 damage to the 6 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> Unit. This unit still has 6 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> and 3 damage marked.</li>
    <li class="list-group-item">Player A has a sum of 4 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> and assigns 4 damage to the 6 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> Unit. It now has 7 damage marked.</li>
    <li class="list-group-item">Player B has a sum of 6 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> and assigns 6 damage to the 4 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> Unit.</li>
    <li class="list-group-item">Both units die; nobody controls the battlefield.</li>
  </ul>

  <h3 class="mt-4 mb-2">Going Further</h3>
  <p><em>Hop on the <a target="_blank" href="https://discord.com/invite/n7hgcgbvpG">Community Discord</a> and <a target="_blank" href="https://discord.com/channels/1314690307811577887/1384235100820209694">Join the discussion.</a></em></p>
</div>
{% endblock %}
