{% extends "lang/en/base.html" %}

{% block content %}   
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Move</h2>
  <p><strong>Moving</strong> is a <strong>Game Object</strong> moving between two <strong>Locations</strong> (<strong>Battlefields</strong> and <strong>Bases</strong>).</p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">For now, only <strong>Units</strong> can be moved.</li>
    <li class="list-group-item">Game objects can be moved between <strong>Battlefields</strong>, or between a <strong>Battlefield</strong> and the <strong>Base</strong> of the player controlling the game object.</li>
    <li class="list-group-item"><strong>Units</strong> can’t be moved to a <strong>Battlefield</strong> already containing <strong>Units</strong> from two other players.</li>
  </ul>
  <p>Effects allowing a move may specify additional restrictions.</p>

  <h3 class="mt-4 mb-3">Standard Move</h3>
  <p>All units have access to the <strong>Standard Move</strong>:</p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Can only be done during one’s Turn, out of <strong>Showdown</strong> and with empty <strong>Chain</strong>.</li>
    <li class="list-group-item">Multiple <strong>Units</strong> can use the <strong>Standard Move</strong> at the same time.</li>
    <li class="list-group-item">The cost for each <strong>Unit</strong> to use the <strong>Standard Move</strong> is to <strong>Exhaust</strong>.</li>
    <li class="list-group-item"><strong>Units</strong> moving together using <strong>Standard Move</strong> must have the same Destination.</li>
    <li class="list-group-item"><strong>Units</strong> moving together using <strong>Standard Move</strong> may come from different Locations.</li>
    <li class="list-group-item"><strong>Units</strong> can use the <strong>Standard Move</strong> to move from <strong>Base</strong> to <strong>Battlefield</strong>, or from <strong>Battlefield</strong> to <strong>Base</strong>.</li>
    <li class="list-group-item"><strong>Units</strong> with <strong>Ganking</strong> can use the <strong>Standard Move</strong> to move from <strong>Battlefield</strong> to <strong>Battlefield</strong>.</li>
    <li class="list-group-item">Multiple <strong>Units</strong> with <strong>Ganking</strong> can still move at the same time with a <strong>Standard Move</strong>.</li>
  </ul>

  <p>All other Move Restrictions still apply.</p>

  <h3 class="mt-4 mb-3">Notes</h3>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Only <strong>Standard Move</strong> exhausts units. Every other move does not exhaust Units, and can move exhausted Units.</li>
    <li class="list-group-item"><strong>Standard Move</strong> CANNOT be combined with other move effects. (<em>ex : Yasuo legend ability</em>)</li>
  </ul>

  <h3 class="mt-4 mb-2">Relevant CRD Rules</h3>
  <p><em>106.2.d Base<br>140. Standard Move<br>596. Move<br>722. Ganking</em></p>

  <h3 class="mt-4 mb-2">Going Further</h3>
  <p><em>Hop on the <a target="_blank" href="https://discord.com/invite/n7hgcgbvpG">Community Discord</a> and <a target="_blank" href="discord://discord.com/channels/1314690307811577887/1384234867486756894">Join the discussion.</a></em></p>
</div>

{% endblock %}