{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 id="contact" class="mb-3">Contact</h2>
  <p>You can contact me on : </p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Discord : @somberlord</li>
    <li class="list-group-item">Github : <a href="https://github.com/Somberlord">https://github.com/Somberlord</a></li>
  </ul>
  <h2 id="discord" class="mb-3">Discord</h2>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">International discord : <a href="https://discord.com/invite/n7hgcgbvpG">https://discord.com/invite/n7hgcgbvpG</a></li>
    <li class="list-group-item">French discord : <a href="https://discord.gg/uQbH2KDBwx">https://discord.gg/uQbH2KDBwx</a></li>
  </ul>
  <h2 id="contribute" class="mb-3">Contribute</h2>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">You can contribute by making a Pull Request on the <a href="https://github.com/Somberlord/riftboundfaq/">Github Repo</a></li>
    <li class="list-group-item">You can also create a <a href="https://github.com/Somberlord/riftboundfaq/issues">Github Issue</a></li>
    <li class="list-group-item">Or contact me on Discord</a></li>
  </ul>
</div>
{% endblock %}