{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Official Riot Documentation</h2>
  <p>Riot provides Official rules on their article : <a href="https://riftbound.leagueoflegends.com/en-us/news/rules-and-releases/gameplay-guide-core-rules/">https://riftbound.leagueoflegends.com/en-us/news/rules-and-releases/gameplay-guide-core-rules/</a></p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item"><a href="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news_live/c780858c1621672aea0dc6b454e9233f5a43d000.pdf">Core Rules Document</a> (Updated 2025-06-02)</li>
    <li class="list-group-item"><a href="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news_live/32c099580ff8513686b9d79bb319b6521a1e0fde.pdf">FAQ</a> (updated 2025-08-13)</li>
  </ul>
  <p>Riot also provides Tournament rules on their other article : <a href="https://riftbound.leagueoflegends.com/en-us/news/organizedplay/riftbound-organized-play/">https://riftbound.leagueoflegends.com/en-us/news/organizedplay/riftbound-organized-play/</a></p>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item"><a href="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news_live/1efc974ac167eefd6e38a3e0364509741f785648.pdf">Tournament Rules Document</a> (updated 2025-07-24)</li>
  </ul>
</div>
{% endblock %}