{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Legal</h2>
  <p>Riftbound Community FAQ is an unofficial fan project and is not affiliated with the original game creators or publishers.</p>
  <p>Riftbound Community FAQ was created under Riot Games' "Legal Jibber Jabber" policy using assets owned by Riot Games. Riot Games does not endorse or sponsor this project</p>
  <p>All trademarks and copyrights are property of their respective owners.</p>
  <p>Any legal issue should be resolved amicably by contacting the author of this website.</p>
</div>
{% endblock %}