{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Website</h2>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Backend : Somberlord</li>
    <li class="list-group-item">Frontend : Cyberwing21 / Skyzlimitz</li>
    <li class="list-group-item">Riftbound Card Images : The team of <a href="https://piltoverarchive.com/">Piltover Archive</a></li>
  </ul>

  <h3 class="mt-4 mb-2">FAQ</h3>
  <ul class="list-group themed-list mb-3">
    <li class="list-group-item">Guides : Somberlord, Robin Hood</li>
    <li class="list-group-item">Riot Rules : Somberlord, xarde, Ghael</li>
  </ul>
</div>
{% endblock %}