{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Riot Rules</h2>
  <p>Some cards of effects might not yet be clear in the CRD yet, but Riot keeps interacting with the community and answered some of our questions.</p>

  <h3 id="buffs-as-game-objects" class="mt-4 mb-2">Cithria of Cloudfield & Wildclaw Shaman (Buffs as Game Objects)</h3>
  <p>If Cithria of Cloudfield has no buffs and Wildclaw Shaman is played, both triggers are simultaneous and the player can order them as they choose. Cithria of Cloudfield can first receive a buff, then Wildclaw Shaman can spend it to receive a buff and ready itself.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1384062926754676857/1384227441651748894">Discord Message</a><br/>
    <img src="/static/knis/01_buffs.png">
  </p>
  <p>The ability for buffs to be targeted is expected to be removed. Therefore, Wildclaw Shaman can spend any buff you control when it resolves.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1384062926754676857/1384298775920513084">Discord Message</a><br/>
    <img src="/static/knis/02_buffs.png">
  </p>

  <h3 id="fox-fire-targets" class="mt-4 mb-2">Fox-Fire Targets Becoming Illegal</h3>
  <p>If Fox Fire targets become illegal (through might increase), Fox Fire's controller can choose which targets to 'deselect' until the Might of the remaining targets equals or drops below 4<br/>
    <a href="https://discord.com/channels/1314690307811577887/1382181718869671986/1382185219464892467">Discord Message</a><br/>
    <img src="/static/knis/03_foxfire.png">
  </p>

  <h3 id="kogmaw" class="mt-4 mb-2">Kog'Maw (Combat Resolution Steps)</h3>
  <p>Deathknell abilities like Kog'Maw's can create and resolve a chain during 627.1 resulting in the 4 damage being dealt before deciding a Conquer.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1380255604148277369/1387118667967369337">Discord Message</a><br/>
    <img src="/static/knis/04_kogmaw.png">
  </p>

  <h3 id="hidden-conquer" class="mt-4 mb-2">Playing Hidden Non-Unit Cards in Response to Conquer Triggers</h3>
  <p>You cannot play a hidden card you control on a battlefield you no longer control.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1380255604148277369/1386357030565970053">Discord Message</a><br/>
    <img src="/static/knis/05_conquertrigger.png">
  </p>

  <h3 id="nocturne-horrifying" class="mt-4 mb-2">Nocturne, Horrifying on an Existing Chain</h3>
  <p>Nocturne can be played at the time the card would indicate. Nocturne would be paid for and "set aside" until the effect that allowed his trigger to occur finishes resolving.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1387465052981825626/1387496006509400166">Discord Message</a><br/>
    <img src="/static/knis/06_nocturne.png">
  </p>

  <h3 id="sett-legend" class="mt-4 mb-2">Sett Legend Ability</h3>
  <p>Rule 572.2. is incorrect and is due to be removed. Sett's Legend ability should only be a replacement effect, not a Triggered Ability. Replace the card text's "when" with "if".<br/>
    This intercedes on any other process occurring.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1380255604148277369/1382121664917012490">Discord Message</a><br/>
    <img src="/static/knis/07_sett.png">
  </p>

  <h3 id="dune-drake" class="mt-4 mb-2">Dune Drake</h3>
  <p>Errata : the +2 <img class="might-icon" src="/static/images/might.webp" data-light="/static/images/might.webp" data-dark="/static/images/might_darkmode.webp" alt="Might" style="height:1em; vertical-align:middle;"> should only last until end of turn.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1314705379296411761/1390011446997287024">Discord Message</a><br/>
    <img src="/static/knis/08_dunedrake.png">
  </p>

  <h3 id="portal-rescue" class="mt-4 mb-2">Portal Rescue</h3>
  <p>Errata : The unit is played by <strong>it's owner</strong> to its base.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1391133387884073021/1391166190813970485">Discord Message</a><br/>
    <img src="/static/knis/09_portalrescue.png">
  </p>

  <h3 id="teemo-strategist" class="mt-4 mb-2">Teemo Strategist</h3>
  <p>When triggered, Teemo strategist chooses up to 5 targets, and split damage at resolution.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1314705379296411761/1387962651824361523">Discord Message</a><br/>
    <img src="/static/knis/10_teemo_strategist.png">
  </p>

  <h3 id="dreaming-tree" class="mt-4 mb-2">Dreaming Tree</h3>
  <p>Dreaming tree only triggers on things that target.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1389640455863533722/1393299698818879508">Discord Message</a><br/>
    <img src="/static/knis/11_dreaming_tree.png">
  </p>

  <h3 id="baited-hook" class="mt-4 mb-2">Baited Hook</h3>
  <p>Baited Hook uses the current might of the killed unit, but ignores only printed cost of the played unit.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1396154609789304862/1396290243786969211">Discord Message</a><br/>
    <img src="/static/knis/12_baited_hook.png">
  </p>

  <h3 id="legion-abilities" class="mt-4 mb-2">Legion abilities</h3>
  <p>An ability with the legion keyword can't be activated unless another card was played.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1396962642652041377/1397265405659185314">Discord Message</a><br/>
    <img src="/static/knis/13_legion_abilities.png">
  </p>

  <h3 id="end-of-combat" class="mt-4 mb-2">End of combat Damage</h3>
  <p>Killing units in step combat damage step will trigger Deathknell and might altering effect before healing.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1397576703290904636/1397650136771067934">Discord Message</a><br/>
    <a href="https://discord.com/channels/1314690307811577887/1380255604148277369/1387916627198349312">Discord Message</a><br/>
    <img src="/static/knis/14_end_of_combat1.png"><br/><br/>
    <img src="/static/knis/14_end_of_combat2.png">
  </p>

  <h3 id="Sona Trigger" class="mt-4 mb-2">Sona Trigger</h3>
  <p>Sonas ability does not trigger at all if there are less than 4 friendly runes on the board.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1401343648217694279/1401357393362817194">Discord Message</a><br/>
    <img src="/static/knis/15_sona.png">
  </p>
</div>
{% endblock %}