{% extends "lang/en/base.html" %}

{% block content %}
<div class="container my-4 themed-list-container">
  <h2 class="mb-3">Known Issues</h2>
  <p>Some cards of effects might not yet be clear in the CRD yet, but Riot keeps interacting with the community and answered some of our questions.</p>

  <h3 id="buffs-as-game-objects" class="mt-4 mb-2">Cithria of Cloudfield & Wildclaw Shaman (Buffs as Game Objects)</h3>
  <p>If Cithria of Cloudfield has no buffs and Wildclaw Shaman is played, both triggers are simultaneous and the player can order them as they choose. Cithria of Cloudfield can first receive a buff, then Wildclaw Shaman can spend it to receive a buff and ready itself.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1384062926754676857/1384227441651748894">Discord Message</a><br/>
    <img src="/static/knis/01_buffs.png">
    </p>
  <p>The ability for buffs to be targeted is expected to be removed. Therefore, Wildclaw Shaman can spend any buff you control when it resolves.<br/>
    <a href="https://discord.com/channels/1314690307811577887/1384062926754676857/1384298775920513084">Discord Message</a><br/>
    <img src="/static/knis/02_buffs.png">
    </p>

</div>
{% endblock %}