{% extends "base.html" %}

{% block content %}   
<h2>Scoring</h2>
<h3>Score</h3>
<p><strong>Scoring</strong> is a specific term in Riftbound. Gaining a victory point is not always considered <strong>Scoring</strong>.</p>

<p><strong>Scoring</strong> can only be done at a <strong>Battlefield</strong> by <strong>Hold</strong> or <strong>Conquer</strong>:</p>
<ul>
  <li><strong>Hold</strong>: A player has <strong>Control</strong> of a <strong>Battlefield</strong> during their Beginning Phase.</li>
  <li><strong>Conquer</strong>: A player gains <strong>Control</strong> of a <strong>Battlefield</strong> they did not <strong>Score</strong> this turn.</li>
</ul>

<p>Each <strong>Battlefield</strong> can only be <strong>Scored</strong> by a player once per turn. Gaining <strong>Control</strong> of a <strong>Battlefield</strong> that has already been <strong>Scored</strong> this turn does not allow a player to score, and that player does not <strong>Conquer</strong> this <strong>Battlefield</strong>.</p>

<h3>Final Point</h3>

<ul>
  <li>If a player is one point away from the Victory Score, they must satisfy the following when <strong>Scoring</strong>:
    <ul>
      <li>If <strong>Scoring</strong> through <strong>Hold</strong>, they score the Final Point (and win the game)</li>
      <li>If <strong>Scoring</strong> through <strong>Conquer</strong>, they must have <strong>Scored</strong> every <strong>Battlefield</strong> this turn (both <strong>Hold</strong> and <strong>Conquer</strong> count). If a player <strong>Scores</strong> via <strong>Conquer</strong> and has not <strong>Scored</strong> each other <strong>Battlefield</strong>, they do not gain the Final Point and instead draw a card</li>
      <li>The Final Point can also be gained by cards and effects that give you points without <strong>Scoring</strong> (Burn Out, Ahri, etc.)</li>
    </ul>
  </li>
</ul>

<p><u>Relevant CRD Rules:</u><br>
<em>179. Control<br>
629. Scoring</em></p>
{% endblock %}
